.inputfield {
  width: 100%;
}

.button {
  background-color: green;
  color: white;
  margin: 20px;
  font-size: 30px;
}

.form-control {
  margin: 20px 0px 20px 0px;
}

.label {
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}