.container.loginform {
  background-color: rgba(211, 211, 211, 0.876);
}

.label {
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgray;
}

img {
  margin: 10px;
}

.logo {
  width: 135px;
  height: 49px;
}

.settingsLogo {
  width: 35px;
  height: 35px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.table td,
.table th {
  vertical-align: middle;
}

.editIcon {
  width: 24px;
  height: 24px;
  margin: 0px 3px 0px 3px;
}

.hidden {
  opacity: 0.2;
  pointer-events: none;
}
