.button {
  background-color: green;
  color: white;
  margin: 20px;
  font-size: 30px;
}

.undo {
  padding: 0%;
}

.container.loginform {
  background-color: rgba(211, 211, 211, 0.876);
}

.form-control {
  margin: 20px 0px 20px 0px;
}

.label {
  font-size: 30px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightgray;
  
}

.flex-container > NavLink, Button, MenuItem {
  width: 150px;
  height: 100%;
  background-color: green;
}

img {
  margin: 10px;
}